.careers__section4__task {
  width: 1110px;
  height: 888px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 160px;

  &__card {
    width: 1110px;
    height: 128px;
    background: $snow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 64px 0 40px;

    &--item {
      h4 {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -1.07143px;
        color: $dark_navy;
        margin-bottom: 8px;
      }

      p {
        font-family: "Lexend Deca";
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: $dark_navy;
      }
    }

    &--btn {
      font-weight: 700;
      font-size: 15px;
      line-height: 25px;
      text-align: center;
      color: #ffffff;
      background: $yellow;
      border: none;

      width: 180px;
      height: 53px;

      &:hover {
        background: #ffff;
        border: 3px solid $yellow;
        color: $yellow;
        cursor: pointer;
      }
    }
  }
}
